body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6fffe;
  overflow: hidden;
  font-family: sans-serif;
}

.giftcontainer {
  position: relative;
}

.giftcontainer::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 20px;
  background-color: rgba(18, 18, 18, 0.772);
  border-radius: 50%;
  top: 90px;
  right: -85px;
}

.gift {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #0096b5;
  right: -65px;
}

.gift::before {
  content: "";
  position: absolute;
  left: 60px;
  width: 25px;
  height: 100px;
  background-color: #ffdd1d;
}

.gift::after {
  content: "";
  position: absolute;
  top: -100px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 100px;
}

#click {
  display: none;
}

.click {
  position: absolute;
  background-color: #0096b5;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom;
  transition: 0.3s;
  cursor: pointer;
}
.click::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 40px;
  background-color: #ffdd1d;
  left: 70px;
}
.click::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid #ffdd1d;
  border-top: 30px solid #ffdd1d;
  border-left: 0px solid #ffdd1d;
  border-right: 30px solid #e6fffe;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}

.giftcontainer.open .click {
  transform: rotate(-100deg) translateY(-115px) scale(0.8);
}

.giftcontainer.open .teddy {
  bottom: 40px;
  opacity: 1;
}
.teddy {
  position: absolute;
  width: 165px;
  height: 155px;
  left: 50%;
  bottom: 0;
  /* top: 125px; */
  transform: translateX(-57%);
  transition: bottom 0.6s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
